.fondo{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/frontcomfamamhv.appspot.com/o/fondo12.jpg?alt=media&token=bed8b064-422c-46fe-befa-aed94cd0473f');
}

.footer{
    position: absolute;
    bottom: 0;
}

