.banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/frontcomfamamhv.appspot.com/o/BANNER.jpg?alt=media&token=002f1ce9-be23-4ec4-8fc2-de471f59fa0e');
    background-position: top center;
    background-size: cover;
    padding: 5% 50% 40% 5%;
    position: relative;
    z-index: 1;
}

.banner::after{
    content: '';
    background-color: black;
    position: absolute;
    z-index: 1;
    top:0;
    left: 0;
    opacity: 1;
}