.barra{
    height: 310px;
    width: 28%;
    margin: 60px 50px 30px 30px;
    position: relative;
    z-index: 1;

}

.barra::after{
    content: '';
    background-color: rgb(110, 108, 108);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0.4;
    z-index: -1;
   
}


.texto{
    text-align: center;

}



.barra25{
    width: 25%;
   
}

.barra50{
    width: 50%;
}

.barra75{
    width: 75%;
}

.barra100{
    width: 100%;
}

.imagen:hover{
    filter: opacity(.5);
}